
<table class="table table-bordered" id="OrderDetailTable" cellspacing="0">
    <thead>
        <tr>
            <th style="width: 1%;">序</th>
            <th style="width: 10%;">工作說明</th>
            <th style="width: 10%;">預計開始時間</th>
            <th style="width: 10%;">預計結束時間</th>
            <th style="width: 10%;">實際開始時間</th>
            <th style="width: 10%;">實際結束時間</th>
            <th style="width: 10%;">備註</th>
            <th style="width: 5%;">操作</th>
        </tr>
    </thead>
    <tbody id="peopleDetailArea">

    </tbody>
</table>
